
<section class="footer">

    <div class="share">
        <a href="#" class="fab fa-facebook"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin"></a>
        <a href="#" class="fab fa-pinterest"></a>
    </div>
    <div class="links">
        <a asp-controller="Home" asp-action="Index" class="active">Menyular</a>
        <a asp-controller="Special" asp-action="Index">Özəl</a>
        <a asp-controller="About" asp-action="Index">Haqqımızda</a>
        <a asp-controller="Contact" asp-action="Index">Bizimlə Əlaqə</a>
        <a asp-controller="Review" asp-action="Index">Rəylər</a>
    </div>
    <div class="credit">
        created by <span>Kamil Rustemli</span> | all right reserved
    </div>
</section>